.git
.gitignore
.gitattributes

.vscode
.idea
*.swp
*.swo

*.out
*.exe
*.dll
*.so
*.dylib
*.test
*.prof
*.cover
*.tmp
*.log

.air
tmp
tmp/
.air.toml~

**/node_modules
**/.next
**/dist
**/build

**/vendor

Dockerfile*
*.dockerfile

.github
.gitlab-ci.yml
.circleci

.DS_Store
Thumbs.db